
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Tienda.cshtml";
}

<div class="row mt-5">

    <div class="container">
        <div class="row bg-secondary bg-gradient">
            <div class="row"> <br /> </div>
            <div class="row"> <br /> </div>
        </div>
        <div class="row bg-gradient" style="background-color: #e3f2fd;">
            <div class="row"> <br /> </div>
            <div class="row"> <br /> </div>
            <div class="col-12">
                <div class="text-center text-dark">
                    <h1 class="display-1 fw-bolder text-uppercase">Tu tienda en tecnologia  </h1>
                    <p class="lead fw-normal text-dark-50 mb-0 display-4">Los Mejores Productos</p>
                </div>
            </div>
            <div class="row"> <br /> </div>
            <div class="row"> <br /> </div>
        </div>
        <div class="row bg-secondary bg-gradient">
            <div class="row"> <br /> </div>
            <div class="row"> <br /> </div>
        </div>
    </div>




    @* productos acordion *@
    <div class="row">
        <br />
    </div>
   
    @*<div class="row">
        <div class="col">
            <br />
        </div>
        <div class="col text-primary">
            <h3> Ve Nuestros Productos</h3>
        </div>
        <div class="col">
            <br />
        </div>
    </div>*@
    <div class="row">
        <div class="accordion text-center" id="accordionExample">
            <div class="accordion-item text-center">
                <h2 class="accordion-header  display-3 fw-bolder">
                    <button class="accordion-button collapsed btn-secondary text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <h3 class="text-center ms-auto"> Ve Nuestros Productos</h3>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">

                        <div class=" bg-light py-2 ">
                            <div class="container px-2 px-lg-2 ">
                                <div id="catalogo-productos" class="row gx-4 gx-lg-4 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center ">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
   
</div>


@section scripts{

    <script>

        $(".btn-ver-categoria").click(function () {
            jQuery.ajax({
                url: '@Url.Action("ListarCategoria", "Tienda")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(".row-categoria").html("");
                    $(".modal-body").LoadingOverlay("hide");
                    if (data.data != null) {
                        $("<div>").addClass("col-4").append(
                            $("<button>").addClass("btn btn-outline-primary btn-categoria m-1 w-100").text("Ver Todos").attr({ "onclick":"listarProductos(0)"})
                        ).appendTo(".row-categoria")

                        $.each(data.data, function (i, item) {
                            $("<div>").addClass("col-4").append(
                                $("<button>").addClass("btn btn-outline-primary btn-categoria m-1 w-100").text(item.Descripcion).attr({ "onclick": "listarProductos("+ item.IdCategoria +")" })
                            ).appendTo(".row-categoria")
                        });
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show");
                },
            });

            $('#exampleModal').modal('show');
        });

        $(document).ready(function () {
            listarProductos(0);
        })

        $(document).on('click', '.btn-detalle', function (event) {
            var json = $(this).data("elemento")
            window.location.href = "@Url.Action("Producto", "Tienda")" + "?idproducto=" + json.IdProducto;
        });

        $(document).on('click', '.btn-categoria', function (event) {
            $('#exampleModal').modal('hide');
        });


        function listarProductos(_idcategoria) {
            jQuery.ajax({
                url: '@Url.Action("ListarProducto", "Tienda")',
                type: "POST",
                data: JSON.stringify({ idcategoria: _idcategoria}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#catalogo-productos").html("");

                    $("#catalogo-productos").LoadingOverlay("hide");
                    if (data.data != null) {

                        $.each(data.data, function (i, item) {
                            //catalogo-productos
                            $("<div>").addClass("col mb-5").append(
                                $("<div>").addClass("card").append(
                                    $("<img>").addClass("card-img-top").attr({ "src": "data:image/" + item.extension + ";base64," + item.base64 }),
                                    //Product details
                                    $("<div>").addClass("card-body p-4").append(
                                        $("<div>").addClass("text-center").append(
                                            $("<h5>").addClass("fw-bolder").text(item.Nombre),
                                            "$" + item.Precio
                                        )
                                    ),
                                    //Product actions
                                    $("<div>").addClass("card-footer p-4 pt-0 border-top-0 bg-transparent").append(
                                        $("<div>").addClass("d-grid d-md-grid gap-2 d-md-block align-items-center text-center").append(
                                            $("<button>").addClass("btn btn-outline-dark mt-auto btn-detalle").text("Ver Detalle").attr({ "data-elemento": JSON.stringify(item) }),
                                           @{
                                               if (((ProyectoTest.Models.Usuario)Session["Usuario"]).EsAdministrador == false) {
                                                    @:$("<button>").addClass("btn btn-outline-dark mt-auto btn-agregar-carrito").data("idproducto", item.IdProducto).text("Agregar al carrito")
                                               }
                                           }

                                        )
                                    )
                                )

                            ).appendTo("#catalogo-productos");
                        });
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {
                    $("#catalogo-productos").LoadingOverlay("show");
                },
            });
        }

    </script>



}
